include includes/myVars.pug
doctype
html
 head
  title #{title}
  |
  include includes/styles.pug
 body
  div.class-o one
    p oooooooooolkm
  div.class-t ok
    p lorem ipsum dolor set amet
    p med ali  nn
    p okokokokokokokokokokokokokok
  div.class-o ok ok ok 
    p lorem ipsum dolor set amet
    p med ali shili
    p mdldfkgn
    p ooooooooool
  div.class-t ok ok ok 
    p lorem ipsum dolor set amet
    p med ali shili
    p mdldfkgn
    p okokokokokokokokokokokokokok
  div.class-o ok ok ok 
    p lorem ipsum dolor set amet
    p med ali shili
    p mdldfkgn
    p ooooooooool
  div.class-t ok ok ok 
    p lorem ipsum dolor set amet
    p med ali shili
    p mdldfkgn
    p okokokokokokokokokokokokokok
 |
 script(src="http://localhost:35729/livereload.js")
 include includes/scripts.pug
