//start mapbox map
meta(name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no")
script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js")
link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css" rel="stylesheet")
//end mapbox map