script(src="js/bundle.js")
script(src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js")
script(src="http://localhost:35729/livereload.js")
script(src="js/jquery-1.9.1.min.js")
script(src="js/bootstrap.min.js")