link(rel="stylesheet" href="css/bootstrap-%20v3.3.7.css" type='text/css')
//polyfills
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto")
link(rel="stylesheet" href="css/main.min.css" type='text/css')

//If it IE 9
script(src="js/html5shiv.min.js")
script(src="js/respond.min.js")
//end if

//JS framework
script(src="https://unpkg.com/vue")

//link(rel="shortcut icon" type="image/png" href="img/Web.png")
//16 x 16 