link(rel="stylesheet" href="css/bootstrap-%20v3.3.7.css")
//polyfills
link(rel="stylesheet" href="css/polyfills.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto")
link(rel="stylesheet" href="css/main.css")

//If it IE 9
script(src="js/html5shiv.min.js")
script(src="js/respond.min.js")
//end if

//start mapbox map
meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')
//end mapbox map
link(rel="shortcut icon" type="image/png" href="/favicon.png")
//16 x 16 